build/
build-*/
.venv
.idea

.conan/
.offline/
.conan_utils/
__pycache__/

.DS_Store

CMakeUserPresets.json

conanbuild*
conanbuildenv*
conanrun*
conanrunenv*
deactivate_conanbuild*
deactivate_conanrun*

autom4te.cache/
