name: Build Audacity Dependencies

on:
  workflow_dispatch:
    inputs:
      audacity_repo:
        description: Audacity Repository
        required: true
        default: audacity/audacity
      audacity_ref:
        description: Audacity Branch or Tag
        required: true
        default: master
env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_HOST: ${{ secrets.SENTRY_HOST }}
  SENTRY_ORG_SLUG: ${{ secrets.SENTRY_ORG_SLUG }}
  SENTRY_PROJECT_SLUG: ${{ secrets.SENTRY_PROJECT_SLUG }}
  ARTIFACTORY_SYMBOLS_URL: ${{ secrets.ARTIFACTORY_SYMBOLS_URL }}
  ARTIFACTORY_SYMBOLS_KEY: ${{ secrets.ARTIFACTORY_SYMBOLS_KEY }}
  ARTIFACTORY_MIRROR_URL: ${{ secrets.ARTIFACTORY_MIRROR_URL }}
  ARTIFACTORY_CACHE_URL: ${{ secrets.ARTIFACTORY_CACHE_URL }}
  CONAN_RECIPES_REMOTE: ${{ secrets.CONAN_RECIPES_REMOTE }}
  CONAN_BINARIES_REMOTE: ${{ secrets.CONAN_BINARIES_REMOTE }}
  CONAN_LOGIN_USERNAME: ${{ secrets.CONAN_LOGIN_USERNAME }}
  CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }}
jobs:
  build_linux:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        # GCC 10
        - name: Ubuntu 20.04 x86_64 GCC 10
          os: ubuntu-20.04
          gcc: 10
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
          metadata: "upload_build_tools: true"
        # GCC 11
        - name: Ubuntu 20.04 x86_64 GCC 11
          os: ubuntu-20.04
          gcc: 11
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
        # GCC 12
        - name: Ubuntu 22.04 x86_64 GCC 12
          os: ubuntu-22.04
          build_type: rel
          gcc: 12
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
         # GCC 13
        - name: Ubuntu 22.04 x86_64 GCC 13
          os: ubuntu-22.04
          build_type: rel
          gcc: 13
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Checkout Audacity
      uses: actions/checkout@v3
      with:
        repository: ${{ github.event.inputs.audacity_repo }}
        ref: ${{ github.event.inputs.audacity_ref }}
        path: audacity
    - name: Setup Dependencies
      shell: bash
      run: |
        sudo add-apt-repository --yes --update ppa:ubuntu-toolchain-r/test
        sudo apt update --yes

        apt_packages=(
            # For self hosted runners
            build-essential cmake
            # For Audacity
            libasound2-dev libgtk2.0-dev libjack-jackd2-dev gettext python3-pip libgl1-mesa-dev uuid-dev oss4-dev
            # For Qt building
            libx11-dev libx11-xcb-dev libfontenc-dev libice-dev libsm-dev libxau-dev
            libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxdmcp-dev libxext-dev
            libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev
            libxpm-dev libxrandr-dev libxrender-dev libxres-dev libxss-dev libxt-dev libxtst-dev
            libxv-dev libxvmc-dev libxxf86vm-dev libxcb-render0-dev libxcb-render-util0-dev
            libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev
            libxcb-randr0-dev libxcb-shape0-dev
            libxcb-sync-dev libxcb-xfixes0-dev
            libxcb-xinerama0-dev libxcb-dri3-dev
            libxcb-util0-dev
            # xkeyboard-config
            xkb-data
            # It appears that CCI M4 package does not work correctly
            m4
        )

        sudo apt-get update
        sudo apt-get install -y --no-install-recommends "${apt_packages[@]}"
        sudo apt-get remove -y ccache

        sudo apt install --yes gcc-${{ matrix.config.gcc }} g++-${{ matrix.config.gcc }}
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${{ matrix.config.gcc }} 100
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-${{ matrix.config.gcc }} 100
        sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-${{ matrix.config.gcc }} 100
        sudo update-alternatives --set gcc /usr/bin/gcc-${{ matrix.config.gcc }}
        sudo update-alternatives --set g++ /usr/bin/g++-${{ matrix.config.gcc }}
        sudo update-alternatives --set gcov /usr/bin/gcov-${{ matrix.config.gcc }}

        gcc --version
        g++ --version
        gcov --version

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.3
        cache: 'pip'
        cache-dependency-path: utils/requirements.txt
    - uses: BSFishy/pip-action@v1
      with:
        requirements: utils/requirements.txt
    - uses: DamianReeves/write-file-action@master
      with:
        path: ${{ github.workspace }}/metadata.yml
        contents: ${{ matrix.config.metadata }}
    - name: Setup Environment
      shell: bash
      run: |
        python3 utils/conan-utils.py init-env --clean
        python3 utils/conan-utils.py add-remote --name conan-utils-audacity-binaries-conan2 --url ${CONAN_BINARIES_REMOTE}
    - name: Validate Audacity 3 Recipe
      shell: bash
      run: |
        python3 utils/conan-utils.py export-recipes
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/linux/gcc${{ matrix.config.gcc }}_x86_64_rel --profile-build build/linux/gcc${{ matrix.config.gcc }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py ${{ matrix.config.release_args }}
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/linux/gcc${{ matrix.config.gcc }}_x86_64_deb --profile-build build/linux/gcc${{ matrix.config.gcc }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py
    - name: Upload to Cache
      shell: bash
      run: |
        python3 utils/conan-utils.py store-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }} --cache-id ubuntu_gcc${{ matrix.config.gcc }} --metada-file ${{ github.workspace }}/metadata.yml
  build_windows:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: MSVC 2019 x86_64
          os: windows-2019
          compiler: msvc2019
          release_args: --enable-debug-processor sentry --enable-debug-processor symstore --skip-debug-data-upload
        - name: MSVC 2022 x86_64
          os: windows-2022
          compiler: msvc2022
          release_args: --enable-debug-processor sentry --enable-debug-processor symstore --skip-debug-data-upload
          metadata: "upload_build_tools: true"
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Checkout Audacity
      uses: actions/checkout@v3
      with:
        repository: ${{ github.event.inputs.audacity_repo }}
        ref: ${{ github.event.inputs.audacity_ref }}
        path: audacity
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.3
        cache: 'pip'
        cache-dependency-path: utils/requirements.txt
    - uses: BSFishy/pip-action@v1
      with:
        requirements: utils/requirements.txt
    - uses: DamianReeves/write-file-action@master
      with:
        path: ${{ github.workspace }}/metadata.yml
        contents: ${{ matrix.config.metadata }}
    - name: Setup Environment
      shell: bash
      run: |
        python3 utils/conan-utils.py init-env --clean
        python3 utils/conan-utils.py add-remote --name conan-utils-audacity-binaries-conan2 --url ${CONAN_BINARIES_REMOTE}
    - name: Validate Audacity 3 Recipe
      shell: bash
      run: |
        python3 utils/conan-utils.py export-recipes
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/windows/${{ matrix.config.compiler }}_x86_64_rel --profile-build build/windows/${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py ${{ matrix.config.release_args }}
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/windows/${{ matrix.config.compiler }}_x86_rel --profile-build build/windows/${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py ${{ matrix.config.release_args }}
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/windows/${{ matrix.config.compiler }}_x86_64_deb --profile-build build/windows/${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/windows/${{ matrix.config.compiler }}_x86_deb --profile-build build/windows/${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py
    - name: Upload to Cache
      shell: bash
      run: |
        python3 utils/conan-utils.py store-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }} --cache-id windows_${{ matrix.config.compiler }} --metada-file ${{ github.workspace }}/metadata.yml

  build_macos:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: XCode 14.2
          os: macos-12
          compiler: 14
          xcode_version: 14.2
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
        - name: XCode 13.4.1
          os: macos-12
          compiler: 13
          xcode_version: 13.4.1
          release_args: --enable-debug-processor sentry --skip-debug-data-upload
          metadata: "upload_build_tools: true"
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Checkout Audacity
      uses: actions/checkout@v3
      with:
        repository: ${{ github.event.inputs.audacity_repo }}
        ref: ${{ github.event.inputs.audacity_ref }}
        path: audacity
    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.config.compiler }}
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.3
        cache: 'pip'
        cache-dependency-path: utils/requirements.txt
    - uses: BSFishy/pip-action@v1
      with:
        requirements: utils/requirements.txt
    - uses: DamianReeves/write-file-action@master
      with:
        path: ${{ github.workspace }}/metadata.yml
        contents: ${{ matrix.config.metadata }}
    - name: Setup Environment
      shell: bash
      run: |
        python3 utils/conan-utils.py init-env --clean
        python3 utils/conan-utils.py add-remote --name conan-utils-audacity-binaries-conan2 --url ${CONAN_BINARIES_REMOTE}
    - name: Validate Audacity 3 Recipe
      shell: bash
      run: |
        python3 utils/conan-utils.py export-recipes
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/macos/apple_clang${{ matrix.config.compiler }}_x86_64_rel --profile-build build/macos/apple_clang${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py ${{ matrix.config.release_args }}
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/macos/apple_clang${{ matrix.config.compiler }}_arm64_rel --profile-build build/macos/apple_clang${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py ${{ matrix.config.release_args }}
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/macos/apple_clang${{ matrix.config.compiler }}_x86_64_deb --profile-build build/macos/apple_clang${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py
        python3 utils/conan-utils.py validate-recipe --remote conan-utils-audacity-binaries-conan2 --profile-host host/macos/apple_clang${{ matrix.config.compiler }}_arm64_deb --profile-build build/macos/apple_clang${{ matrix.config.compiler }}_x86_64  --recipe-config audacity3 --recipe audacity/conan/conanfile.py
    - name: Upload to Cache
      shell: bash
      run: |
        python3 utils/conan-utils.py store-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }} --cache-id macos_apple_clang${{ matrix.config.compiler }} --metada-file ${{ github.workspace }}/metadata.yml

  update_conan_remotes:
    name: Update Conan remotes
    runs-on: ubuntu-22.04
    needs: [build_linux, build_windows, build_macos]
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.3
        cache: 'pip'
        cache-dependency-path: utils/requirements.txt
    - uses: BSFishy/pip-action@v1
      with:
        requirements: utils/requirements.txt
    - name: Update Remotes
      shell: bash
      run: |
        python3 utils/conan-utils.py init-env --clean
        python3 utils/conan-utils.py list-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }}
        python3 utils/conan-utils.py process-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }}
  cleanup_remote_cache:
    name: Cleanup Remote Cache
    runs-on: ubuntu-22.04
    needs: [build_linux, build_windows, build_macos, update_conan_remotes]
    if: always() && !cancelled()
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.3
        cache: 'pip'
        cache-dependency-path: utils/requirements.txt
    - uses: BSFishy/pip-action@v1
      with:
        requirements: utils/requirements.txt
    - name: Update Remotes
      shell: bash
      run: |
        python3 utils/conan-utils.py init-env --clean
        #python3 utils/conan-utils.py delete-cache --group-id ${{ github.run_id }}-${{ github.run_attempt }}
